header{
   background-color: #28293E;
    .container{
        
        .header{   
    h2{
        color: $color-a;
    }
            @include flexBOX;
            height: 106px;
            nav{
               
                ul{
                    gap: 40px;
                    @include flexBOX;
                    li{
                        a{
                            opacity: 0.54;
                            color: $color-a;
                            transition: all 0.6s;
                        }
                    }
                }
            }
            .btn-i{
                button{
                    width: 138px;
                    height: 48px;
                    background-color: #28293E;
                    border: 1px solid gray;
                    border-radius: 12px;
                    color: $color-a;
                    transition: all 0.6s;
                }
                    button:hover{

                       background-color: $color-a;
                       color: black;
opacity: 0.24;
                
                    }
            }
        }
    }
    }