main{
   #sect{
     background-color: #28293E;
     padding: 80px 0;
    .container{
        .main{
            @include flexBOX(center,center);
            gap: 50px;
            .left-side{
                position: relative;
                h4{
                    font-size: 1.2rem;
                    color: #EF6D58;
                    letter-spacing: 5px;
                }
                h1{
                    color: $color-a;
                    font-size: 72px;
                }
                p{
                    opacity: 0.54;
                    color: $color-a;
                }
                .btns{
                    margin-top: 30px;
                    padding: 30px 0;
                    button{
                        width: 170px;
height: 48px;
border-radius: 12px;
border: 1px solid #28293E;
font-size: 1rem;
transition: all 0.6s;

                    }
                    
                    .how-we-work{
                        opacity: 1;
                        color: $color-a;
background-color: #EF6D58;

                    }
                    .how-we-work:hover{
                        color: $color-a;
                      background-color: #28293E;
border-color: #EF6D58;

                    }
                    .contact-us{
background-color: #28293E;
color: $color-a;

                    }
                   .contact-us:hover{
                        background-color: $color-a;
                        color: black;
                    opacity: 0.24;
                     }
                }
                .avatar{
                    margin-top: 30px;
                    position: absolute;
                    left: 0;
                    gap: 10px;
                    @include flexBOX(center,center);
                    h5{
                        color: #FFFFFFA3;
                    
                    }
p{
    color: $color-a;
}
                } 
            }
            .right-side{

            }
        }
    }
   }
  #sectors{
    background-color: #F3D1BF; 
    // padding: 80px 0;
    .container{
        border-bottom: 1px solid #391400 ;
        img{
            width: 100%;
            padding: 80px 0;
        }
    }
  } 
}
#sectors-3{
    background-color: #F3D1BF;
    padding: 100px 0;
    .container{
        
        .main-3{
            @include flexBOX(center,center);
            gap: 50px;
            .left-side{
            }
            .right-side{
                h4{
                    font-size: 1.2rem;
                    color: #EF6D58;
                    letter-spacing: 5px;
                }
                h1{

                    color: #391400;
                    font-size: 4rem;
                }
                h5{
                    margin: 20px 0;
                    color: #391400;
                    font-size: 1.2rem;
                }
                p{
                    margin: 20px 0;
                    color: #391400A3;
                    
                }
                button{
                    width: 170px;
height: 48px;
border-radius: 12px;
border: none;
font-size: 14px;
background-color: #FFFFFF;
color: #391400;
box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                }
            }
        }
    }
}
#sector-4{
    background-color: #F3D1BF; 
    padding: 80px 0;
     @include flexBOX(center,center);
    .container{
        .row{
   
            .col-4{
                font-size: 30px;
                
width: 351px;
height: 176px;
border: 1px solid rgba($color: #000000, $alpha: 0.5);

h2{
color: #391400;
padding: 20px 0;
}
p{
color: #391400;
font-size: 20px;
}
            }
        }
    }
  } 
